<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="appointmentReview">Review Your Appointment Choices</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
       <form method="post" action='' name="appointment_form">
            <div class="form-group">
                <label for="inputServiceChosen">Service Chosen</label>
                <input type="text" class="form-control" id="inputServiceChosen" value="...">
            </div>
            <div class="form-group">
                <label for="inputProviderChosen">Provider Chosen</label>
                <input type="text" class="form-control" id="inputProviderChosen" value="...">
            </div>
            <div class="form-group">
                <label for="inputStart">Day Chosen</label>
                <input type="text" class="form-control" id="InputDayChoen" value="...">
            </div>
            <div class="form-group">
                <label for="inputTime">Time Chosen</label>
                <input type="text" class="form-control" id="inputTimeChosen" value="...">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


