<footer>

     <div id="contact" class="container">
            <div class="row">

               

                <div class="col">
                    <!--Linkedin-->

                    <a href="https://www.linkedin.com/in/christopher-demeke/" target="_blank">
                        <i class="fab fa-linkedin fa-fw fa-2x"></i>
                    </a>

                </div>

                <div class="col">
                    <!--Github-->

                    <a href="https://github.com/Cdemeke1227" target="_blank">
                        <i class="fab fa-github-square fa-fw fa-2x"></i>
                    </a>

                </div>

                <div class="col">
                    <!--StackOverflow-->

                    <a href="https://stackoverflow.com/users/9058817/chris-demeke" target="_blank">
                        <i class="fab fa-stack-overflow fa-fw fa-2x"></i>
                    </a>

                </div>

               
                <div class="col">
                    <!--Place Call-->

                    <a href="tel:8329286126">
                        <i class="fas fa-phone fa-fw fa-2x"></i>
                    </a>

                </div>
                

            </div>
            <hr>
        </div>
    <div class="footText">
        <p> &copy; Copyright 2018 KiCKeM</p>
    </div>
</footer>