<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-hover">
    <div class="contianer" id="navLinks">
        <div class="row">
            <div class="col" id="navSiteLinks">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                </ul>
            </div>

            <div class="col" id="navTitle">
                <a class="navbar-brand" href="#">HOUSE OF STYLE</a>
            </div>
            <div class="col" id="navSiteLinks">
                <ul class="navbar-nav mr-auto">


                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Appointments</a>
                    </li>
                </ul>
            </div>

        </div>
        {{!-- Navbar Partial for home page section links --}} {{>navbar/nav-home}}
    </div>
    {{>navbar/nav-user}} {{>navbar/nav-login}} {{!-- {{#if LoggedIn}} {{>nav-user}} {{else}} {{>nav-login}} {{/if}} --}}
</nav>
{{!-- Log in Modal --}}

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login to House of Styles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action='' name="login_form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    <a href="#">Forgot Password?</a>
                    </p>
                    <p>
                        Or Use Google of Facebook
                    </p>
                    <i class="fab fa-google fa-5x"></i>
                    <i class="fab fa-facebook fa-5x"></i>
                </form>
            </div>
            <div class="modal-footer">
                New To House of Styles
                <hr>
                <div>
                    <button type="button" class="btn btn-outline-secondary my-2 my-sm-0" data-toggle="modal" data-target="#signupModal">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign Up for House of Styles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action='' name="login_form">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="name" class="form-control" id="inputName" placeholder="First Last">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                     <div class="form-group">
                        <label for="inputPhoneNumber">Phone Number</label>
                        <input type="phoneNumber" class="form-control" id="inputPhoneNumber" placeholder="555 555 5555">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="greeting">
        Welcome to House of Styles
    </div>
    <div class="break"></div>
    <div class="container sectionRow" id="infoSection">
        Google or Other Data embedded
    </div>
</div>


<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder1" class="container">
        <div class="clearing">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="team">
        Meet the team
    </div>
    <div class="break"></div>
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder2" class="container">
        <div class="clearing2">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="history">
        History
    </div>
</div>


<div class="background-color1">
    <div class="container sectionRow" id="products">
        Products
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="comments">
        Comments
    </div>
</div>

<footer>
    <div class="footText">
        <p> &copy; Copyright 2018 KiCKeM</p>
    </div>
</footer>