<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-hover">
    <div class="contianer" id="navLinks">
        <div class="row">
            <div class="col" id="navSiteLinks">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                </ul>
            </div>

            <div class="col" id="navTitle">
                <a class="navbar-brand" href="#">HOUSE OF STYLE</a>
            </div>
            <div class="col" id="navSiteLinks">
                <ul class="navbar-nav mr-auto">


                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Appointments</a>
                    </li>
                </ul>
            </div>

        </div>
        {{!-- Navbar Partial for home page section links --}} {{>navbar/nav-home}}
    </div>
    {{>navbar/nav-user}} {{>navbar/nav-login}} {{!-- {{#if LoggedIn}} {{>nav-user}} {{else}} {{>nav-login}} {{/if}} --}}
</nav>
{{!-- Log in Modal --}}

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login to House of Styles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action='' name="login_form">
                    <p>
                        <input type="text" class="span3" name="eid" id="email" placeholder="Email">
                    </p>
                    <p>
                        <input type="password" class="span3" name="passwd" placeholder="Password">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        <a href="#">Forgot Password?</a>
                    </p>
                    <p>
                        Or Use Google of Facebook
                    </p>
                    <i class="fab fa-google fa-5x"></i>
                    <i class="fab fa-facebook fa-5x"></i>


                </form>
            </div>
            <div class="modal-footer">
                New To MyWebsite.com?
                <a href="#" class="btn btn-primary">Register</a>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="greeting">
        Welcome to House of Styles
    </div>
    <div class="break"></div>
    <div class="container sectionRow" id="infoSection">
        Google or Other Data embedded
    </div>
</div>


<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder1" class="container">
        <div class="clearing">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="team">
        Meet the team
    </div>
    <div class="break"></div>
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder2" class="container">
        <div class="clearing2">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="history">
        History
    </div>
</div>


<div class="background-color1">
    <div class="container sectionRow" id="products">
        Products
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="comments">
        Comments
    </div>
</div>

<footer>
    <div class="footText">
        <p> &copy; Copyright 2018 KiCKeM</p>
    </div>
</footer>