{{>navbar/nav}} 

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 >Welcome</h1>
        <p class="lead">Come visit our house and express your style. </p>
    </div>
</div>

<div class="background-color1">
    <div class="break"></div>
    <div class="sectionRow" id="greeting">
        <div class="card-group">
            <div class="card sectionPic col-3">
                <img class="card-img " src="/assets/images/philosophy.jpg" alt="Philosophy Image">
            </div>
            <div class="card sectionBody col-9">
                <div class="card-body">
                    <h5 class="card-title sectionTitle">Philosophy</h5>
                    <p class="card-text">
                        At House of Style, we custom design services to fit your personality, fashion style, and positive self-image-—you are more
                        to us than just a head of hair or a pretty face. We strive to create a great style for you that compliments your sensibility,
                        bone structure, and body type. No matter what condition you are in when you arrive at our House, we want you to leave with
                        healthy, beautiful, wearable hair that you love and a style that puts some attitude in your step. Our team understands the
                        importance of continued education. Our team actively participates in state-of-the-art educational seminars across the country
                        as both instructors and students. Our senior staff serve as mentors within our house, teaching the latest hair and skin techniques,encouraging
                        development and skills to provide customers with the best style and service.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="break"></div>
    <div class="sectionRow" id="infoSection">
        <div class="card-group">
            <div class="card sectionBody col-9">
                <div class="card-body">
                    <h5 class="card-title sectionTitle">Google</h5>
                    <p class="card-text">
                        embed data
                    </p>
                </div>
            </div>
            <div class="card sectionPic col-3">
                <img class="card-img " src="/assets/images/whisper.jpg" alt="Embedded Data">
            </div>
        </div>
        
    </div>
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder1" class="container">
        <div class="clearing">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="sectionRow" id="team">
        <div class="card-group">
            <div class="card sectionPic col-3">
                <img class="card-img " src="/assets/images/team.jpg" alt="Team Image">
            </div>
            <div class="card sectionBody col-9">
                <div class="card-body">
                    <h5 class="card-title sectionTitle">The Home Team</h5>
                    <p class="card-text">
                        At House of Style, our team is made up of a diverse group of stylists who possess a passion for health and the art of beauty. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="break"></div>
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder2" class="container">
        <div class="clearing2">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="sectionRow" id="history">
        <div class="card-group">
            <div class="card sectionPic col-3">
                <img class="card-img " src="/assets/images/history.jpg" alt="History Image">
            </div>
            <div class="card sectionBody col-9">
                <div class="card-body">
                    <h5 class="card-title sectionTitle">History</h5>
                    <p class="card-text">
                        After years of working as a stylist and makeup artist, Kelly Smith founded House of Style in 2015. Kelly has welcomed stylists to join the House of Style.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="background-color1">
    <div class="sectionRow" id="products">
        <div class="card-group">
            <div class="card sectionBody col-9">
                <div class="card-body">
                    <h5 class="card-title sectionTitle">Products</h5>
                    <p class="card-text">
                        Kelly's love of the Joico color line inspired her to create a house committed to using quality products for the best possible
                        results. When she was searching for a make-up line to include in the salon's product line, she selected Bodyography, a natural,
                        animal-cruelty-free line of cosmetics with an excellent education program.
                    </p>
                </div>
            </div>
            <div class="card sectionPic col-3">
                <img class="card-img " src="/assets/images/products.jpg" alt="Products Image">
            </div>
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="sectionRow" id="comments">
        <div class="card-group">
            <div class="card sectionBody col-9">
                <div class="card-body">
                    <h5 class="card-title sectionTitle">What people are saying</h5>
                    <p class="card-text">
                        Review...
                    </p>
                    <p class="card-text">
                        Review...
                    </p>
                </div>
            </div>
            <div class="card sectionPic col-3">
                <img class="card-img " src="/assets/images/whisper.jpg" alt="Embedded Data">
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footText">
        <p> &copy; Copyright 2018 KiCKeM</p>
    </div>
</footer>