<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-hover">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Appointments</a>
            </li>

        </ul>

        <button class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                User Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </button>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>

    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="background-color1">
    <div class="container" id="greeting">
        Welcome to House of Styles
    </div>
 <div class="break"></div>
    <div class="container" id="infoSection">
        Google or Other Data embedded
    </div>


</div>


<div class="background-color2">
    {{!-- Blank for picture --}}
    <div class="clearing">

    </div>

</div>

<div class="background-color3">


    <div class="container" id="meetTeam">

    </div>
    <div class="break"></div>

    <div class="container" id="teamData">

    </div>


</div>

<div class="background-color4">
    {{!-- Blank for picture --}}
    <div class="clearing">

    </div>

</div>