{{>navbar/nav}}



{{!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 >Provider View</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div> --}}

<div class="background-color1 providerpage">
    <div class="container sectionRow" id="calendar">
       Calendar
    </div>
    <div class="break"></div>
    <div class="container sectionRow" id="messages">
        Messages
    </div>
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder1" class="container">
        <div class="clearing">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="customer{{1}}">
       Customers     
    </div>
    {{#if Customers}} 
        {{#each Customers}}
            <div class="customer_info">
            <button type="button" class="btn btn-light login my-2 my-sm-0" data-toggle="modal" data-target="{{customer.modalID}}">                {{customer.firstName}}
                {{customer.lastName}}</button>
                <div class="modal fade" id="{{customer.ModalID}}" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">

                        {{>navbar/modal/admin-Update-Customer}}

                    </div>

                </div> 
            </div> 
        {{/each}}
    {{/if}}
    <div class="break"></div>
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder2" class="container">
        <div class="clearing2">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="transactions">
        History
    </div>
</div>


<div class="background-color1">
    <div class="container sectionRow" id="productInventory">
        Products
    </div>
</div>

<footer>
    <div class="footText">
        <p> &copy; Copyright 2018 KiCKeM</p>
    </div>
</footer>