{{>navbar/nav}}



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 >Provider View</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="calendar">
       Calendar
    </div>
    <div class="break"></div>
    <div class="container sectionRow" id="messages">
        Messages
    </div>
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder1" class="container">
        <div class="clearing">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="customers">
       Customers
    </div>
    <div class="break"></div>
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder2" class="container">
        <div class="clearing2">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="transactions">
        History
    </div>
</div>


<div class="background-color1">
    <div class="container sectionRow" id="productInventory">
        Products
    </div>
</div>

<footer>
    <div class="footText">
        <p> &copy; Copyright 2018 KiCKeM</p>
    </div>
</footer>