 {{>navbar/nav}} {{!-- First selected the type of service --}} {{!-- Second selected the sytlist based on those that perform
that service --}} {{!-- Third user selects day from calendar --}} {{!-- Fouth user selects time from appointment picker --}}
{{!-- All of these are stored in appointment table --}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Schedule</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
  <div class="background-color1">
    <form>
      Book your next appointment
      <div class="form-row">

        <div class="form-group col-md-4">
          <!-- Select Service Dropdown -->
          <label for="serviceChoice">Select Service</label>
          <select id="serviceChoice" class="form-control">
            {{#each service_names}}
            <option selected> Select Service</option>
            <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group col-md-4">
          <!-- Select Stylist Dropdown -->
          <label for="providerChoice">Select Provider</label>
          <select id="proiderChoice" class="form-control">
            {{!-- {{#each provider_names}} --}}
            <option selected> Select Provider</option>
            {{!--
            <option class="dropdown-item2" value="{{name}}">{{name}}</option> --}} {{!-- {{/each}} --}}
          </select>
        </div>
      </div>

      <div class="form-row col-md-4">
        <div class="form-group">
          <input id="date" type="date">
        </div>

        <div class="form-group">
          <input id="time-2" type="text">
        </div>
      </div>


    </form>

  </div>
</div>



<link rel="stylesheet" href="/assets/css/appointment-picker.css">
<script src="/assets/js/appointment-picker.min.js"></script>