 {{>navbar/nav}} {{!-- First selected the type of service --}} {{!-- Second selected the sytlist based on those that perform
that service --}} {{!-- Third user selects day from calendar --}} {{!-- Fouth user selects time from appointment picker --}}
{{!-- All of these are stored in appointment table --}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Schedule</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">


  <div class="background-color1">
    <!-- Select Service Dropdown -->
    <div class="btn-group">
      <button class="btn btn-secondary btn-lg" type="button">
        Choose Service
      </button>
      <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        
          {{#each service_names}}  
            {{name}}
          {{/each}}
        
      </div>
    </div>

    <!-- Select Stylist Dropdown -->
    <div class="btn-group">
      <button class="btn btn-secondary btn-lg" type="button">
        Choose Stylist
      </button>
      <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu1">
        ...
      </div>
    </div>

    <input id="date" type="date">

    <div class="container" class="appo-picker">
      <div class="row">
        <div class="col-12 calendar">
          <h2>Available Appointments</h2>
          {{!-- show appointment picker here --}}
          <div id="calender">
            <input id="time" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder" class="container">
      <div class="clearing">

      </div>
    </div>
  </div>

  <div class="background-color1">
    <div class="container sectionRow" id="team">
      <div class="row">
        <div class="col-12 calendar">
          <h2>Search by...</h2>
          {{!-- add button here to bring search modal--}}
        </div>
      </div>
    </div>
  </div>


  <link rel="stylesheet" href="/assets/css/appointment-picker.css">
  <script src="/assets/js/appointment-picker.min.js"></script>