 {{>navbar/nav}} {{!-- First selected the type of service --}} {{!-- Second selected the sytlist based on those that perform
that service --}} {{!-- Third user selects day from calendar --}} {{!-- Fouth user selects time from appointment picker --}}
{{!-- All of these are stored in appointment table --}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Schedule</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
  <div class="background-color1">
    <form>
      Book your next appointment
      <div class="form-row">

        <div class="form-group col-md-4" id="servicePick">
          <!-- Select Service Dropdown -->
          <label for="serviceChoice">Select Service</label>
          <select id="serviceChoice" class="form-control">
            {{#each service_names}}
            <option selected> Select Service</option>
            <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group col-md-4" id="providerPick">
          <!-- Select Stylist Dropdown -->
          <label for="providerChoice">Select Provider</label>
          <select id="providerChoice" class="form-control">
            {{!-- {{#each provider_names}} --}}
            <option selected> Select Provider</option>

          </select>
        </div>


        <div class="form-group col-md-4" id="datePick">
          <!-- Select Stylist Dropdown -->
          <label for="dateChoice">Select Day</label>
          <select id="dateChoice" class="form-control">
            {{!-- {{#each provider_names}} --}}
            <option selected> Select Day</option>

          </select>
        </div>
      </div>
  </div>

  <div class="form-group col-md-4 " id="appointmentPick">
    <input id="time-2" type="text">
  </div>
 

<button type="button" id="reviewChoices" class="btn btn-secondary col-md-4" data-toggle="modal" data-target="#Review">Review</button>
</div>
</form>

</div>
</div>
{{!-- Appointment Review Modal --}}

<div class="modal fade" id="Review" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appointmentReview">Review Your Appointment Choices</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action='' name="appointment_form">
          <div class="form-group">
            <label for="inputServiceChosen">Service Chosen</label>
            <input type="text" class="form-control" id="inputServiceChosen">
          </div>
          <div class="form-group">
            <label for="inputProviderChosen">Provider Chosen</label>
            <input type="text" class="form-control" id="inputProviderChosen">
          </div>
          <div class="form-group">
            <label for="inputStart">Day Chosen</label>
            <input type="text" class="form-control" id="InputDayChoen">
          </div>
          <div class="form-group">
            <label for="inputTime">Time Chosen</label>
            <input type="text" class="form-control" id="inputTimeChosen">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

  </div>


  <link rel="stylesheet" href="/assets/css/appointment-picker.css">
  <script src="/assets/js/appointment-picker.min.js"></script>