<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-hover">
    <div class="contianer" id="navLinks">
        <div class="row">
            <div class="col" id="navSiteLinks">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>

                </ul>
            </div>

            <div class="col" id="navTitle">
                <a class="navbar-brand" href="/home">HOUSE OF STYLE</a>
            </div>
            <div class="col" id="navSiteLinks">
                <ul class="navbar-nav mr-auto">


                    <li class="nav-item">
                        <a class="nav-link" href="service">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/schedule">Appointments</a>
                    </li>
                </ul>
            </div>

        </div>
        {{!-- Navbar Partial for home page section links --}} {{>navbar/nav-services}}
    </div>
    
{{#if LoggedIn}} {{>navbar/nav-user}} {{else}} {{>navbar/nav-login}} {{/if}}

</nav>
{{!-- Log in Modal --}}

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        
            {{>navbar/modal/login-modal}}
        
    </div>
</div>

{{!-- Signup Modal --}}
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       
            {{>navbar/modal/signup-modal}}
        
    </div>
</div>





<div class="background-color1">
    <div class="container sectionRow" id="service1">
        Servie1
    </div>
</div>


<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder1" class="container">
        <div class="clearing">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="service2">
        Service2
    </div>
    <div class="break"></div>
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder2" class="container">
        <div class="clearing2">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="container sectionRow" id="serviceMenu">
        Service Menu
    </div>
</div>
<footer>
    <div class="footText">
        <p> &copy; Copyright 2018 KiCKeM</p>
    </div>
</footer>